@media (max-width: 425px) {
    section {
        padding: 4rem 0;
    }

    .title {
        font-size: 3rem;
    }

    .subtitle {
    font-size: 2.7rem;

    }

    .paragrafo-principal {
        font-size: 2rem;
    }

    .button {
        width: 75%;
    }

    .anne h3 {
        font-size: 1.6rem;
    }

    .rede-social i {
        font-size: 2.2rem;
    }
}