/* Configurações Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --bgc-body: #ffffff;
    --icone-color: #fb5607;
    --link-color: #000000;
    --bgc-header: rgba(251, 84, 7, 0.05);
    --border-header: rgba(251, 84, 7, 0.25);
    --bgc-footer: rgba(251, 84, 7, 0.05);
    --border-footer: rgba(251, 84, 7, 0.25);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bgc-body);
}

/* classes gerais */
.container {
    width: 90%;
    margin: 0 auto;
}

.espaco-interno {
    padding-block: 2rem;
}

.flex-coluna {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.wrapper-icon {
    display: flex;
    justify-content: flex-start;
}

.wrapper-icon i {
    font-size: 1.4rem;
    margin-right: 1rem;
    color: var(--icone-color);
    margin-top: 0.4rem;
}

.logo {
    width: 15%;
}

.title {
    font-size: 2.5rem;
    line-height: 150%;
}

.subtitle {
    font-size: 2.1rem;
    line-height: 150%;
}

.paragrafo-principal {
    font-size: 1.7rem;
    line-height: 150%;
}

/* Cabeçalho */
header {
    border-bottom: 1px solid var(--border-header);
    background-color: var(--bgc-header);

}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Rodapé */
#rodape {
    border-top: 1px solid var(--border-footer);
    background-color: var(--bgc-footer);
}

.rodape .flex-coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.rodape .flex-coluna img {
    margin-bottom: 2rem;
}

.wrapper-flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.wrapper-flex-row a,
.wrapper-flex-row p,
.rodape p {
    color: var(--link-color);
    font-weight: 700;
    text-align: center;
}

.wrapper-flex-row i {
    font-size: 0.4rem;
    color: var(--icone-color);
}