/* Configurações Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --bgc-body: #f5f5f5;
    --destaque: #FB5607; 
    --bgc-footer: rgba(251, 84, 7, 0.05);
    --border-footer: rgba(251, 84, 7, 0.25);
    --bgc-header: rgba(251, 84, 7, 0.05);
    --border-header: rgba(251, 84, 7, 0.25);
    --bgc-section: #FFF1EB;
    --icone-color-02: #000000;
    --link-color: #000000;
    --icone-color: #fb5607;
    --button-border: #fb5607;
    --button-color: #ffffff;
    --gradient: linear-gradient(45deg, #fb5607 34%, #fd8249 94%);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bgc-body);
}

/* classes gerais */
.container {
    width: 90%;
    margin: 0 auto;
}

.espaco-interno {
    padding-block: 2rem;
}

.flex-coluna {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.logo {
    width: 15%;
}

.title {
    font-size: 3rem;
    line-height: 150%;
    text-align: center;
}

.subtitle {
    font-size: 2.3rem;
    line-height: 150%;
    text-align: center;
}

.paragrafo-principal {
    font-size: 1.6rem;
    line-height: 150%;
    text-align: center;    
}

.imagem-grafica {
    width: 100%;
}

.button {
    background-image: var(--gradient);
    border: 1px solid var(--button-border);
    border-radius: 0.5rem;
    padding: 2rem;
    width: 100%;
    margin: 0 auto;
    color: var(--button-color);
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

/* tags gerais */
i {
    color: var(--icone-color);
}

b {
    color: var(--destaque);
}

ul {
    list-style: none;
}

/* Cabeçalho */
.cabecalho {
    border-bottom: 1px solid var(--border-header);
    background-color: var(--bgc-header);
}

.navegacao-barra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.container-logo {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.navegacao-icon {
    font-size: 1.5rem;
}

/* Anne Caroline */
#anne {
    background-color: var(--bgc-section);
}

.anne .flex-coluna {
    gap: 2rem;
}

.anne-foto {
    width: 100%;
    padding: 1rem;
}

.anne h3 {
    text-align: center;
    font-size: 1.3rem;
}

/* redes sociais */
.redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;    
}

.rede-social i {
    font-size: 1.9rem;
}

/* Formas de Contato */
.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card i {
    font-size: 3.5rem;
    color: var(--icone-color-02);
}

/* Rodapé */
#rodape {
    border-top: 1px solid var(--border-footer);
    background-color: var(--bgc-footer);
}

.rodape .flex-coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.rodape .flex-coluna img {
    margin-bottom: 2rem;
}

.wrapper-flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.wrapper-flex-row a,
.wrapper-flex-row p,
.rodape p {
    color: var(--link-color);
    font-weight: 700;
    text-align: center;
}

.wrapper-flex-row i {
    font-size: 0.4rem;
}